{% extends "base.html" %}
{% load static %}

{% block page %}
	<!-- Start Bradcaump area -->
        <div class="ht__bradcaump__area" style="background: rgba(0, 0, 0, 0) url({% static "media/images/bg/2.jpg" %}) no-repeat scroll center center / cover ;">
            <div class="ht__bradcaump__wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="bradcaump__inner text-center">
                                <h2 class="bradcaump-title">Контакты</h2>
                                <nav class="bradcaump-inner">
                                  <a class="breadcrumb-item" href="/">Домой</a>
                                  <span class="brd-separetor">/</span>
                                  <span class="breadcrumb-item active">Контакты</span>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Bradcaump area -->
        <!-- Start Contact Area -->
        <section class="htc__contact__area ptb--120 bg__white">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                        <div class="htc__contact__container">
                            <div class="htc__contact__address">
                                <h2 class="contact__title">Наши контакты</h2>
                                <div class="contact__address__inner">
                                    <!-- Start Single Adress -->
                                    <div class="single__contact__address">
                                        <div class="contact__icon">
                                            <span class="ti-location-pin"></span>
                                        </div>
                                        <div class="contact__details">
                                            <p>Локация : <br> Россия, Краснодар</p>
                                        </div>
                                    </div>
                                    <!-- End Single Adress -->
                                </div>
                                <div class="contact__address__inner">
                                    <!-- Start Single Adress -->
                                    <div class="single__contact__address">
                                        <div class="contact__icon">
                                            <span class="ti-mobile"></span>
                                        </div>
                                        <div class="contact__details">
                                            <p> Телефон : <br><a href="#">+012 345 678 102 </a></p>
                                        </div>
                                    </div>
                                    <!-- End Single Adress -->
                                    <!-- Start Single Adress -->
                                    <div class="single__contact__address">
                                        <div class="contact__icon">
                                            <span class="ti-email"></span>
                                        </div>
                                        <div class="contact__details">
                                            <p> E-mail :<br><a href="#">info@example.com</a></p>
                                        </div>
                                    </div>
                                    <!-- End Single Adress -->
                                </div>
                            </div>
                            <div class="contact-form-wrap">
                                <div class="contact-title">
                                    <h2 class="contact__title">Напишите нам</h2>
                                </div>
                                <form id="contact-form" action="{% url 'contact_send' %}" method="post">
                                    {% csrf_token %}
                                    {{ form.non_field_errors }}
                                    <div class="single-contact-form">
                                        <div class="contact-box name">
                                            {{ form.name.errors }}
                                            {{ form.name }}
                                            {{ form.sender.errors }}
                                            {{ form.sender }}
                                            {{ form.phone }}
                                            {{ form.phone.errors }}
                                        </div>
                                    </div>
                                    <div class="single-contact-form">
                                        <div class="contact-box message">
                                            {{ form.message.errors }}
                                            {{ form.message }}
                                        </div>
                                    </div>
                                    <div class="captcha-box">
                                        {{ form.captcha }}
                                    </div>
                                    <div class="contact-btn">                             
                                        <button type="submit" class="fv-btn">Отправить</button>
                                    </div>  
                                </form>
                                <div id="modal-msg" class="modalbackground">
                                    <div class="modalwindow">
                                        <h3></h3>
                                        <p></p>
                                        <a id="modal-btn" href=" ">Закрыть</a>
                                    </div>
                                </div>
                        </div> 
                     </div>
                </div>
                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 smt-30 xmt-30">
                        <div class="map-contacts">
                            <h2 class="contact__title">Местоположение на карте</h2>
                            <div id="googleMap">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d180375.94754788736!2d38.85758805510773!3d45.057918412102886!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40f04564714535b3%3A0xf720794f56c4beb6!2z0JrRgNCw0YHQvdC-0LTQsNGALCDQmtGA0LDRgdC90L7QtNCw0YDRgdC60LjQuSDQutGA0LDQuQ!5e0!3m2!1sru!2sru!4v1607240008814!5m2!1sru!2sru" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}