{% extends "base.html" %}

{% block page %}
	<section class="delivery">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="headline">Как получить товар?</h1>
					<div class="text-body">
						<p>
							Продукция может быть отгружена в другой город как в адрес юридического, так и в адрес физического лица автомобильным, железнодорожным или авиационным транспортом. Мы предпочитаем отгружать через транспортные компании "Байкал-Сервис" или "Деловые линии", но если они не доставляют в ваш город, то мы можем отправить груз с другой транспортной компанией. При отгрузке продукции через ТК доставка по Москве до транспортной компании (в пределах МКАД) осуществляется бесплатно. В остальных случаях стоимость оговаривается отдельно. Стоимость доставки может быть включена в счете в цену продукции или указана отдельной строкой. Доставка может быть оплачена заказчиком в пункте доставки груза или нами при отправке груза.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}